/* Changepassword.css */
.changepassword {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(116, 116, 109, 0.953);
    width: 800px;
    border: 1px solid black;
    border-radius: 30px;
    padding-top: 0px;
    padding-bottom: 40px;
    background-image: url('C:\Users\Anushanga\Downloads\happy\Inventory_System-main-main\Frontend\src\assets\download (4).png');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    font-size: 20px;
}

.tr {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.mb-4 {
    width: 500px;
    margin-top: 20px;
    margin-left: 5%;
}

.tr{
    background-image: url('C:\Users\Anushanga\Desktop\Radeep distributors\Frontend\src\assets\happy-man (1).png');
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-color: rgba(104, 106, 99, 0.281)
}