.return-form {
    max-width: 800px;
    height: 1000px;
    margin: auto;
}

.return-form label {
    display: block;
    margin-bottom: 5px;
}

.return-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.return-form button {
    padding: 10px 15px;
    margin-right: 10px;
    width: 200px;
}

.return-form button.add-item-button {
    background-color: #ccc;
    border: none;
}

.return-form button.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
}
